.form {
  padding-left: 40px;
}
.input {
  padding: 10px;
  transition: 0.4s ease-in-out;
  outline: none;
  border: 2px solid black;
}
.input:not(:last-child) {
  margin-right: 30px;
}
.input:focus {
  border: 2px solid gold;
}
.form label {
  color: rgb(233, 236, 6);
  margin-right: 10px;
  text-transform: uppercase;
  font-weight: 700;
  font-size: 18px;
}
.but {
  padding: 10px 15px;
  border: 2px solid black;
  outline: none;
  background-color: gold;
  transition: 0.4s ease-in-out;
}
.but:hover {
  transform: scale(1.2);
  background-color: rgb(25, 219, 161);
}
